<div>
  <section>
    <p>
      CUSTOMER SERVICE
      Contact Info: 1.886.379.7463
      CUSTOMERSERVICE@DSW.COM

      Categories
      SHOES
      KIDS SHOES
      HANDBAGS
      ACCESSORIES
      BOOTS
      SANDALS
      RUNNING SHOES
      SNEAKERS
      BOAT SHOES
      SOCKS
      RAIN BOOTS
      DUCK BOOTS

      EXPLORE DSW
      DSW VIP
      Store Finder
      Customer Service
      Careers
      Privacy & Security
      Order Status
      Gift Cards
      DSW Visa
      Supply Chain Transparency
      Phailanthropy
      Designer Brands
      Terms of Use
      Comp. Value Details
      Pricing
      Fashing & Resources
    </p>
  </section>
  
</div>
